## Lecture 9 - Lists III

## Problem

Given two lists and some operations are performed on these, and these a few results are obtained.

In [3]:
L1 = [1, 2, 3]

L2 = [6, 5, 4]

Results are:

1. [1, 2, 3, 6, 5, 4]
2. [1, 2, 3, 4, 5, 6]

In [4]:
L1 + L2 # res1

[1, 2, 3, 6, 5, 4]

In [5]:
L2[::-1] # diff list

[4, 5, 6]

In [7]:
L1 + L2[::-1] # res2

[1, 2, 3, 4, 5, 6]

## More methods on lists

In [9]:
L = [5, -1, 5, 4, 6, 9, 23, 2]

In [10]:
L.sort()

In [11]:
L

[-1, 2, 4, 5, 5, 6, 9, 23]

In [12]:
L.reverse() # reverse the above data

In [13]:
L

[23, 9, 6, 5, 5, 4, 2, -1]

In [14]:
L1 = [5, 1, 3, 7]

L2 = [1, 2, 3, 6, -1, -2]

In [15]:
L1 + L2

[5, 1, 3, 7, 1, 2, 3, 6, -1, -2]

In [16]:
L2 + L1

[1, 2, 3, 6, -1, -2, 5, 1, 3, 7]

In [17]:
L1 # not changed

[5, 1, 3, 7]

In [18]:
L2 # not changed

[1, 2, 3, 6, -1, -2]

## Problem 2

Add elements of L2 to L1

In [19]:
L1 = L1 + L2

In [20]:
print(L1)

[5, 1, 3, 7, 1, 2, 3, 6, -1, -2]

In [21]:
L1 = [5, 1, 3, 7]
L2 = [2, 3, 6, -1, -2]

In [22]:
L1.append(L2)

In [23]:
print(L1) # nested list => 2D

[5, 1, 3, 7, [2, 3, 6, -1, -2]]

In [29]:
L1[4]

[2, 3, 6, -1, -2]

In [30]:
L1[4][0]

2

In [31]:
L1[4][-1]

-2

In [38]:
L1 = [5, 1, 3, 7, [2, 3, 6, -1, -2]]
L1[-1].insert(1, [1, 9, 7])

In [39]:
L1 # 3D

[5, 1, 3, 7, [2, [1, 9, 7], 3, 6, -1, -2]]

In [42]:
L1[4][1][1]

9

## extend

In [43]:
L1 = [5, 1, 6, -1, 3]

In [44]:
L2 = [1, 9, 2, 3, 7]

In [45]:
L1.extend(L2)

In [46]:
L1

[5, 1, 6, -1, 3, 1, 9, 2, 3, 7]

In [47]:
L2

[1, 9, 2, 3, 7]

## Quizzes

In [48]:
l = []
odi = [120, 30, 50]
l.extend(odi)
print(l)

[120, 30, 50]

In [49]:
l = []
odi = [120, 30, 50]
l.append(odi)
print(l)

[[120, 30, 50]]

In [50]:
l = [[1,2,3] , [5,6] ]
print(len(l))

2

In [51]:
l[0]

[1, 2, 3]

In [52]:
l[1]

[5, 6]

In [53]:
l = [1, 2, 3, 4]
l.reverse() 
l.append(5)
print(l)

[4, 3, 2, 1, 5]

In [54]:
L = [1, 2]
L.append(0) # [1, 2, 0]
 
l2 = [3]
L.extend(l2) # L = [1, 2, 0, 3]
L = L + l2 # L = [1, 2, 0, 3, 3]
print(L)

[1, 2, 0, 3, 3]

In [55]:
l = [1, 2, 3, [4, 5, 6], 7, 8, 9] 

print(l[0] + l[4])

8

## Break

## 2d List and Matrices

In [56]:
nums = [[10, 20, 30], [98, 99]]

In [57]:
len(nums)

2

In [59]:
len(nums[0])

3

In [60]:
len(nums[1])

2

In [61]:
nums[0][0]

10

In [62]:
nums[1][0]

98

## Iteration and find sum

In [73]:
mat = [[1, 2, 3], # t20
       [4, 5, 6], # odi
       [7, 8, 9]] # test

In [64]:
print(mat)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [65]:
for i in mat: # i is a list
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [70]:
for L in mat: # L is a list
    # L is the row
    # print(L)
    for x in L:
        print(x, end=' ')
    print() # row end

1 2 3
4 5 6
7 8 9

In [71]:
ans = 0
for L in mat: # L is a list
    for x in L: # x is the element
        ans += x
    
print(ans)

45

## Maximum of all formats

In [75]:
runs = [[120, 30, 50], # t20
        [248, 200, 100], # odi
        [100, 50, 60]] # test

In [78]:
for L in runs:
    print(max(L), end=' ')

120 248 100

In [79]:
for L in runs:
    # my own logic
    maxi = L[0]
    for i in L[1:]:
        if i > maxi:
            maxi = i
    print(maxi, end=' ')

120 248 100

## Min in all formats

In [81]:
runs = [[120, 30, 50], # t20
        [248, 200, 100], # odi
        [100, 50, 60]] # test

In [82]:
for L in runs:
    print(min(L))

30
100
50

## Sum of all formats

In [84]:
runs = [
 [10, 22, 52], # ODI
 [200, 300, 199], # Test
 [5, 15, 20] # T20
]

In [85]:
for L in runs:
    print(sum(L))

84
699
40

## Maximum in career

In [86]:
runs = [[120, 30, 50], # t20
        [248, 200, 100], # odi
        [100, 50, 60]] # test

In [87]:
maxi = runs[0][0]

for L in runs: # L is the list
    for x in L: # x is the data
        # compare and update
        if x > maxi:
            maxi = x

print(maxi)

248

## Rotate an image (2D matrix) by 90 degree

In [88]:
mat = [[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]]

In [89]:
# mat[i][j] => i index is changing
print(mat[2][0], mat[1][0], mat[0][0]) # loop for this?

7 4 1

In [94]:
for i in range(2, -1, -1): # 2, 1, 0 => range(2, -1, -1)
    # column = 0
    print(mat[i][0], end=' ')

7 4 1

In [90]:
print(mat[2][1], mat[1][1], mat[0][1]) # column? 1

8 5 2

In [95]:
for i in range(2, -1, -1):
    # column = 1
    print(mat[i][1], end=' ')

8 5 2

In [91]:
print(mat[2][2], mat[1][2], mat[0][2]) # column? 2

9 6 3

In [96]:
# iterate using index
for i in range(2, -1, -1):
    # column = 2
    print(mat[i][2], end=' ')

9 6 3

In [97]:
print(mat)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [98]:
for j in range(3): # column is changing, first 0, then 1, then 2
    # j is same for the loop below
    for i in range(2, -1, -1):
        print(mat[i][j], end=' ')
    print()

7 4 1
8 5 2
9 6 3

## Doubts

In [99]:
N = input()
x = input().split()
L = []
for i in x:
    L.append(int(i))

5
1 2 3 4 5

In [100]:
print(L)

[1, 2, 3, 4, 5]

In [103]:
L.sort(reverse=True)

In [104]:
print(L)

[5, 4, 3, 2, 1]

Input in multiple lines

In [107]:
N = int(input())

5

In [108]:
L = []
for i in range(N):
    x = int(input())
    L.append(x)

1
2
3
4
7

In [109]:
print(L)

[1, 2, 3, 4, 7]

In [110]:
T = int(input())

for i in range(T):
    A = int(input())
    x = input().split()
    B = int(input())
    L = []
    for j in x:
        L.append(int(j))
    print(A, L, B)

2
3
1 2 3
5
3 [1, 2, 3] 5
5
-1 -2 -3 -4 -5
7
5 [-1, -2, -3, -4, -5] 7

In [111]:
l = [1, 2, 3]
l.reverse()
print(l)

[3, 2, 1]

In [113]:
l2 = list(reversed(l))
print(l2)
print(l)

[1, 2, 3]
[3, 2, 1]