In [1]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars',
          'Jupiter', 'Saturn',' Uranus', 'Neptune']

In [2]:
planets[2] = 'Jadoo Planet'

In [3]:
print(planets)

['Mercury', 'Venus', 'Jadoo Planet', 'Mars', 'Jupiter', 'Saturn', ' Uranus', 'Neptune']

In [4]:
a = [1, 3, 5, 2]
a[0] = 5
# can update data within the list
print(a)

[5, 3, 5, 2]

## Tuples

In [5]:
# cannot be changed further
x = (1, 3, 5, 2)

In [6]:
print(x)

(1, 3, 5, 2)

In [8]:
# can do all operations excect ones which change
# the data
print(x[0])

1

In [13]:
# x.remove(4)
# x.pop()
# x.sort()
# x.insert(...)
# x.append(5)

# all above operations not supported

In [14]:
planets = ('Mercury', 'Venus', 'Earth', 'Mars',
          'Jupiter', 'Saturn',' Uranus', 'Neptune')

In [16]:
# planets[2] = "Jadoo Planet"

In [ ]:
# tuples are faster than lists => because of
# how they are stored in the memory

In [17]:
x = (1 + 5 - 2)

In [18]:
print(x)

4

In [19]:
type(x)

int

In [20]:
t = ("Sahil")
print(t)

Sahil

In [21]:
type(t)

str

## Tuple with 1 element

In [28]:
t = ("Sahil",)

In [23]:
print(t)

('Sahil',)

In [24]:
type(t)

tuple

In [25]:
t = (5,)

In [26]:
print(t)

(5,)

In [27]:
type(t)

tuple

In [30]:
print(type((1,2,3)))

<class 'tuple'>

## Empty tuple

In [31]:
t = ()
type(t)

tuple

In [32]:
L = []
type(L)

list

In [34]:
T1 = (1)  # int
T2 = (3, 4)  # tuple
T1 += 5
print(T1)

6

In [36]:
T1 = (1,)
# T1 += 5

## List and Tuple conversions

In [38]:
t = ("mercury", "venus", "earth", "mars",
     "jupiter", "saturn", "neptune")

# t.append("Pluto")

# convert tuple t to a list L
L = list(t)
print(L)

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'neptune']

In [39]:
L.append("Pluto")
print(L)

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'neptune', 'Pluto']

In [40]:
# convert list L to a tuple t2
t2 = tuple(L)
print(t2)

('mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'neptune', 'Pluto')

In [41]:
print(t)

('mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'neptune')

## Tuple Slicing

In [42]:
t = (3, 4, 6, 7, 3)
t2 = t[::2]

print(t2)

(3, 6, 3)

## Other read functions

In [43]:
t

(3, 4, 6, 7, 3)

In [44]:
len(t)

5

In [45]:
max(t)

7

In [46]:
min(t)

3

In [47]:
sum(t)

23

In [48]:
t.count(5)

0

In [49]:
t.count(3)

2

In [50]:
t.index(3)

0

In [52]:
t.index(7)

3

In [53]:
7 in t

True

In [54]:
3 in t

True

In [55]:
5 in t

False

## Nesting

In [56]:
t = ((1, 2, 3), (4, 5))

In [57]:
len(t)

2

In [58]:
t[0]

(1, 2, 3)

In [59]:
t[1]

(4, 5)

In [61]:
t = (1, 2, 3, 4, 5, 6)

In [62]:
for i in t:
    print(i, end=' ')

1 2 3 4 5 6

In [63]:
t = ("roopa", 123, 5.6, True)

In [64]:
print(t)

('roopa', 123, 5.6, True)

## Strings

In [65]:
a = "@rahul"

In [66]:
print(a)

@rahul

In [67]:
a = 'Tuna123"

SyntaxError: EOL while scanning string literal (19309913.py, line 1)

In [68]:
a = "Rahul12'

SyntaxError: EOL while scanning string literal (775975705.py, line 1)

## Are strings mutable or immutable?

In [69]:
s = "this is a string"

In [70]:
print(s)

this is a string

In [72]:
s[0]

't'

In [73]:
s[-1]

'g'

In [75]:
s[0] = 'a' # strings are immutable

TypeError: 'str' object does not support item assignment

In [77]:
s1 = "abhishek"

In [78]:
s2 = "asodaria"

In [80]:
s = s1 + " " + s2 # concatenation of strings

In [81]:
print(s)

abhishek asodaria

In [82]:
s1

'abhishek'

In [83]:
s1 += s2 # original string s1 not changed,
# s1 replaced with a new string

In [84]:
print(s1)

abhishekasodaria

## Quiz

In [85]:
print(100 == "100")

False

In [86]:
type(100)

int

In [87]:
type("100")

str

In [88]:
100 + 200

300

In [89]:
"100" + "200"

'100200'

## Problem Solving on Strings

## Get the ASCII value

In [90]:
# standard / ordinal value
ord('A')

65

In [91]:
ord('a')

97

In [92]:
ord('z')

122

In [93]:
ord('0')

48

In [94]:
ord('😁') # unicode = extended version of ASCII

128513

In [95]:
ord('好')

22909

In [96]:
ord('+')

43

In [97]:
ord('?')

63

In [98]:
ord(" ")

32

## Character from ascii value

In [101]:
chr(97)

'a'

In [102]:
chr(65)

'A'

In [103]:
chr(122)

'z'

In [104]:
chr(57)

'9'

## Challenge 1

Take a string as input and print all the characters in a newline.

Input:
"India"

Output:

I

n

d

i

a

In [109]:
s = input()

India

In [110]:
for i in s:
    print(i)

I
n
d
i
a

In [111]:
for i in s:
    print(ord(i))

73
110
100
105
97

## Challenge 2: First and last character

In [112]:
s

'India'

In [113]:
s[0]

'I'

In [114]:
s[-1]

'a'

## String Slicing

In [115]:
s = "My_country_is_India"

In [116]:
s[:10]

'My_country'

In [117]:
s[:11]

'My_country_'

In [118]:
s[-5:]

'India'

## Challenge 3: Given a string, reverse it

In [119]:
s = "I like python"

In [120]:
s[::-1]

'nohtyp ekil I'

In [123]:
s = "python"

In [124]:
s[::-1]

'nohtyp'

In [121]:
res = ""
res += 'n'
res += 'o'
res += 'h'
res += 't'
res += 'y'
res += 'p'

In [122]:
print(res)

nohtyp

In [125]:
len(res)

6

In [132]:
for i in range(len(s) - 1, -1, -1):
    print(i, end=' ')

5 4 3 2 1 0

In [131]:
for i in range(len(s) - 1, -1, -1):
    print(s[i], end=' ')

n o h t y p

In [133]:
res = ''
for i in range(len(s) - 1, -1, -1):
    res += s[i]
    print(res, end=' ')

n no noh noht nohty nohtyp

## Challenge 4: Check palindrome

a = 'radar'
b = 'level'
c = 'rahul'

In [134]:
a = 'radar'

In [135]:
a[::-1]

'radar'

In [136]:
b = 'level'

In [137]:
b[::-1]

'level'

In [138]:
c = 'rahul'

In [139]:
c[::-1]

'luhar'

Reverse and compare

In [142]:
a = input()

madam

In [143]:
a == a[::-1]

True

## Quizzes

In [144]:
city = "Phoenix"

city + city + city

'PhoenixPhoenixPhoenix'

In [145]:
city * 3

'PhoenixPhoenixPhoenix'

In [146]:
print(len(city*3))

21

## Count upper case characters

In [147]:
s = "IndiaRocks"

In [148]:
for i in s:
    print(i, end=' ')

I n d i a R o c k s

In [149]:
for i in s:
    print(ord(i), end=' ')

73 110 100 105 97 82 111 99 107 115

In [150]:
# A = 65
for i in s:
    if ord(i) >= 65 and ord(i) <= 90:
        print(i)

I
R

In [152]:
# A = 65
# count upper case
res = 0
for i in s:
    if ord(i) >= 65 and ord(i) <= 90: # upper?
        res += 1
        
print(res)

2

## Check lower case / upper case

In [153]:
'a'.isupper()

False

In [154]:
'A'.isupper()

True

In [155]:
'b'.islower()

True

In [156]:
'B'.islower()

False

## Quizzes

In [157]:
s = "this is a string"

In [158]:
s[0] = 'a'

TypeError: 'str' object does not support item assignment

In [159]:
L = ["sahil", "bansal"]

print(L[0])

sahil

In [161]:
print(L[0][-1])

l

In [163]:
def mystery(s):
    i = len(s)//2
    a = s[:i]
    b = s[i:]
    return a+ b

In [165]:
mystery("abracadabra")

'abracadabra'

In [166]:
s = "abracadabra"

In [171]:
s[:4]

'abra'

In [172]:
s[4:]

'cadabra'

In [173]:
s[:4] + s[4:]

'abracadabra'

In [174]:
def mystery(s):
    i = len(s)//2
    a = s[:i]
    b = s[i:]
    return a[0].isupper()

mystery("abracadabra")

False

In [176]:
a = s[:5]
print(a)

abrac

In [177]:
a[0]

'a'

In [178]:
a[0].isupper()

False

## HW: Convert lower case to upper case

## Doubts

In [179]:
N = int(input())

X = input().split()
res = []
for i in X:
    res.append(int(i))

pos= int(input())

5
1 2 3 4 5
3

In [180]:
print(N)

5

In [181]:
print(res)

[1, 2, 3, 4, 5]

In [182]:
print(pos)

3

In [183]:
res.pop(pos - 1)

3

In [184]:
for i in res:
    print(i, end=' ')

1 2 4 5