## Iteration - 1

## FizzBuZZ

In [12]:
N = int(input())

18

In [13]:
if N % 3 == 0 and N % 5 == 0:
    print('FizzBuzz')
elif N % 5 == 0:
    print('Buzz')
elif N % 3 == 0:
    print('Fizz')

Fizz

### Quiz

In [17]:
a = 1
b = 0
c = 1
if (a and b):
    print("Scaler is awesome")
elif (a and c): # true
    print("ML is fun")
if (a and b and c):
    print("Python is amazing")
if (a or b or c): # true
    print("I love DS")

ML is fun
I love DS

In [14]:
bool(1)

True

In [15]:
bool(0)

False

In [18]:
if False:
    print("Artificial Intelligence")
elif True:
    print("Machine Learning")
elif True:
    print("Data Science")
else:
    print("Deep Learning")

Machine Learning

## Iteration

### Print numbers from 1 to 10

In [19]:
# while loop

In [20]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

### Bowl an over

In [21]:
# print 1 2 3 4 5 6 in a single line

In [25]:
i = 1
while i <= 6:
    print(i)
    i += 1

1
2
3
4
5
6

In [23]:
print(1)
print(2)

1
2

In [24]:
print(1, end=' ')
print(2, end=' ')

1 2

In [26]:
i = 1
while i <= 6:
    # end with a space
    print(i, end=' ')
    i += 1

1 2 3 4 5 6

### Quiz

In [28]:
N = 2
i = 1
while i <= N:
    print(i)
    i += 1

print(5)

1
2
5

In [29]:
N = 5
i = 2
while i <= N:
    if i % 2 == 0:
        print(i)
    i += 1

2
4

In [32]:
N = 28
i = 2
while i <= N:
    # multiples of 2 => even numbers
    if i % 2 == 0:
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [33]:
# HW: Try to print numbers from N (input) to 1 

# eg, N = 5
# Output:
# 5 4 3 2 1

### Print N to 1

In [37]:
N = int(input())

i = N
while i >= 1:
    print(i, end=' ')
    i -= 1

print()
print('Done')

5
5 4 3 2 1
Done

### Print all odd from 1 to N

In [38]:
print(3 % 2)

1

In [39]:
N = int(input())

i = 1
while i <= N:
    # not divisble by 2 => odd
    if i % 2 == 1:
        print(i)
    i += 1
print('Done')

7
1
3
5
7
Done

## range function

In [41]:
range(5) # start = 0, end = 5 (not included), jump = 1

range(0, 5)

In [42]:
range(1, 5)

range(1, 5)

In [43]:
range(1, 10, 2)

range(1, 10, 2)

In [44]:
print(range(5))

range(0, 5)

## for loop

In [50]:
# end = 5 is not included
for i in range(5):
    print(i, end=' ')

0 1 2 3 4

In [51]:
# end = 11 is not included
for i in range(1, 11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [52]:
for i in range(11):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10

### Print all numbers from 1 to N

In [53]:
N = int(input())

for i in range(1, N):
    print(i, end=' ')

5
1 2 3 4

In [54]:
N = int(input())

for i in range(1, N+1):
    print(i, end=' ')

5
1 2 3 4 5

### range with 3 args

In [55]:
for i in range(1, 10, 2):
    print(i, end=' ')

1 3 5 7 9

### Print all odd numbers from 1 to N

In [59]:
N = 6

for i in range(1, N+1, 2):
    print(i, end=' ')

1 3 5

In [60]:
N = 7

for i in range(1, N+1, 2):
    print(i, end=' ')

1 3 5 7

## Find the sum of all even numbers from 1 to N

In [61]:
N = 6

for i in range(2, N + 1, 2):
    print(i, end=' ')

2 4 6

In [62]:
N = 6

for i in range(0, N + 1, 2):
    print(i, end=' ')

0 2 4 6

In [66]:
N = 8

res = 0
for i in range(0, N + 1, 2):
    res += i
    print(i, res)

0 0
2 2
4 6
6 12
8 20

In [67]:
print(res)

20

In [71]:
N = int(input())

res = 0 # because we want to add
for i in range(0, N+1, 2):
    res += i
print(res)

8
20

### Challenge Problem:

Given a number N, print all its digits from right to left.

N = 453 =>

3
5
4

N = 98131

1
3
1
8
9

In [79]:
N = int(input())

453

In [80]:
print('this is the digit:', N % 10)
N = N // 10
print(N)

this is the digit: 3
45

In [81]:
print('this is the digit:', N % 10)
N = N // 10
print(N)

this is the digit: 5
4

In [82]:
print('this is the digit:', N % 10)
N = N // 10
print(N)

this is the digit: 4
0

In [85]:
N = 453
while N > 0:
    print(N % 10, end=' ')
    N = N // 10 # some operation

3 5 4

In [86]:
N = 98131
while N > 0:
    print(N % 10, end=' ')
    N = N // 10

1 3 1 8 9

## Reverse

In [87]:
N = 453
while N > 0:
    print(N % 10, end='')
    N = N // 10

354

In [88]:
N = 98131
while N > 0:
    print(N % 10, end='')
    N = N // 10

13189

HW: Try to do it in a integer => store the final result in number

## Doubts - in 2 min

In [89]:
a = -1
b = -1
c = 1
x = a < b < c
print(x)

False

In [90]:
x = a < b + c
print(x)

True

In [92]:
a < b+c

True

In [94]:
print("A\n","B","C\n","D\n","E")

A
 B C
 D
 E

In [97]:
x = 5 if True else 7
print(x)

5

In [98]:
x = 5 if False else 7
print(x)

7

In [99]:
print ("A\n","B\n","C\n","D\n","E")

A
 B
 C
 D
 E

In [100]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0