## Python - Data Types and Input

a. 0.3

b. .2

c. "2.3"

d. 1.0

e. "3.14"

f. -3

g. 5.

In [1]:
print("Hello world")

Hello world

In [4]:
print(45) # this is an int

45

In [5]:
print(0.463) # this is a float

0.463

In [6]:
# jayesh

In [7]:
jayesh

NameError: name 'jayesh' is not defined

a. 0.3

b. .2

c. "2.3"

d. 1.0

e. "3.14"

f. -3

g. 5.

In [8]:
print(0.3)

0.3

In [9]:
print(.2)

0.2

In [10]:
print("2.3")

2.3

## type function

In [11]:
type(0.3)

float

In [12]:
type("2.3")

str

In [13]:
type(343)

int

In [14]:
type(True)

bool

In [15]:
type(False)

bool

In [17]:
# type(true) # ---> error

In [18]:
print(5.)

5.0

In [19]:
type(5.)

float

In [20]:
print(type(3))

<class 'int'>

## Variables

In [21]:
x = 3

In [22]:
print(x)

3

In [23]:
x=5

In [24]:
print(x)

5

In [25]:
type(x)

int

In [26]:
print(x + 5)

10

In [29]:
y = 'hello' # in python you can either use single quotes or double quotes
print(y)

hello

In [30]:
z = 123.5416161413214
print(z)

123.5416161413214

In [31]:
print("This is a valid string")

This is a valid string

In [32]:
print('This is a valid string')

This is a valid string

In [33]:
print("This is an invalid string')

SyntaxError: EOL while scanning string literal (1107795960.py, line 1)

In [34]:
# data storage

In [36]:
x = 3

print(id(x)) # unique identifier for the object

140560992102768

In [37]:
x = 5

print(id(x))

140560992102832

In [38]:
x = 3
y = 'hello'
print(x)
print(y)

3
hello

In [39]:
print(3)
print(5)

3
5

## Print multiple variables in one line

In [40]:
x = 3
y = 5
print(x, y)

3 5

In [42]:
print('hello', 5, True, 24.611)
print('this is after')

hello 5 True 24.611
this is after

In [43]:
print('abc', 123)

abc 123

In [44]:
print('abc', 123, sep='+')

abc+123

In [45]:
print('abc', 123, sep='/')

abc/123

In [46]:
print('abc', 123, sep='this is the separator')

abcthis is the separator123

In [47]:
print(abc, 123, sep='\n')

NameError: name 'abc' is not defined

In [48]:
print('abc', 123, sep='\n')

abc
123

In [50]:
print('abc', end='\n')
print(123)

abc
123

In [51]:
print('abc', end=' ')
print(123)

abc 123

## Quiz

In [ ]:
print('1', '2', sep='+', end='-')
print('1', '2', end='+', sep='-')

In [52]:
print("Rahul", "Rohit", "Emma watson", sep = " ")
print("Yash KGF")

Rahul Rohit Emma watson
Yash KGF

In [56]:
print(1, 2, 3, 4, sep=",\n")

1,
2,
3,
4

## Variables - 2

In [57]:
y = 'hello'
num = y

print(num)

hello

In [58]:
print(id(num))

140561017396656

In [59]:
print(id(y))

140561017396656

In [60]:
x = 3
y = 'hello'
num = y

In [61]:
print(x, y, num)

3 hello hello

In [62]:
y = x
print(x, y, num)

3 3 hello

In [63]:
print(id(x))

140560992102768

In [64]:
print(id(y))

140560992102768

In [65]:
print(id(num))

140561017396656

## Variables are case sensitive

In [66]:
name='Sahil'
print(Name)

NameError: name 'Name' is not defined

In [67]:
print(name)

Sahil

## Quiz

In [68]:
x = 3
y = 'hello'
num = y
y = 5
print(num, y)

hello 5

## Magic with underscore variable name

In [1]:
3 + 5

8

In [2]:
print(_)

8

In [3]:
5*6

30

In [4]:
print(_)

30

In [5]:
9 / 3

3.0

In [6]:
print(_)

3.0

## Variable Naming Quiz

In [7]:
x21354y = 1
print("1')

SyntaxError: EOL while scanning string literal (2001507064.py, line 2)

In [9]:
x21354y = 1
print(x21354y)

1

`hELLO`

`1_name_Input`

`a*b*c`

`Cod3$#`

In [12]:
hELLO = '242'
print(hELLO)

242

In [13]:
1_name_Input = 324

SyntaxError: invalid decimal literal (1179921185.py, line 1)

In [15]:
a*b*c = 'q'

SyntaxError: cannot assign to operator (257198617.py, line 1)

In [17]:
Cod3$# = 242

SyntaxError: invalid syntax (2656265391.py, line 1)

## Take input from user

In [18]:
input('Please enter your name:')

Please enter your name:Sahil Bansal

'Sahil Bansal'

In [19]:
input('Please enter your age:')

Please enter your age:23

'23'

## Number addition by input from user

In [20]:
input()

5

'5'

In [21]:
input()

6

'6'

1. store the data in a variable

In [22]:
x = input()

5

In [23]:
print(x)

5

In [24]:
type(x)

str

## 2 variables input

In [27]:
x = input()
y = input()

5
6

In [29]:
print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

In [31]:
print(x + y) # string addition => combine the 2 strings

56

In [32]:
print("hello" + "world")

helloworld

In [33]:
print('5' + '6')

56

In [34]:
print(5 + 6)

11

## Typecasting

In [35]:
x = '5'
y = int(x)
print(y)
print(type(y))

5
<class 'int'>

## Adding 2 nums

In [41]:
x = input()
y = input()

a = int(x)
b = int(y)

print(a + b)

5
6
11

In [42]:
x = input()
y = input()

a = int(x)
b = int(y)

print(a + b)

102437184717031902141413141
1240751517517
102437184717033142892930658

In [43]:
x = input()
y = input()

a = int(x)
b = int(y)

print(a + b)

abc12314
2342134

ValueError: invalid literal for int() with base 10: 'abc12314'

In [44]:
int('2412341')

2412341

In [45]:
int('12314adaefafa')

ValueError: invalid literal for int() with base 10: '12314adaefafa'